[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zeliunin
[access "refs/for/refs/*"]
	read = group user/Zeliunin
	push = group user/Zeliunin
	label-Code-Review = -2..+2 group user/Zeliunin
	label-Verified = -1..+1 group user/Zeliunin
	rebase = group user/Zeliunin
	removeReviewer = group user/Zeliunin
	submit = group user/Zeliunin
[access "refs/heads/*"]
	read = group user/Zeliunin
	create = group user/Zeliunin
	push = +force group user/Zeliunin
	pushMerge = group user/Zeliunin
[access "refs/tags/*"]
	push = group user/Zeliunin
	push = +force group user/Zeliunin
